.job-item {
    display: block;
    background: #fff;
    &:hover {
        .link {
            color: $c-green;
            &__text {
                &::after {
                    width: 100%;
                }
            }
            .link__icon {
                transform: scale(1.2);
            }
        }
    }
    &-img {
        height: 17rem;
        width: 17rem;
        margin-left: auto;
        margin-right: auto;
        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
    &-content {
        border-top: 1px solid $c-border;
        padding: 3rem;
        @include bp(mobile){
            padding: 2rem;
        }
    }

    &--big {
        .job-item-img {
            height: 20rem;
            width: 20rem;
        }
    }
}
