.quick-contact-wrapper {
    background: $c-dark-black;
}
.quick-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 9rem 0;
    @include bp(mobile){
        padding: 4rem 0;
    }
    .text {
        max-width: 52rem;
    }
    .btn {
        margin-top: 5rem;
    }
}
