.works {
    &-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 3rem;
        grid-row-gap: 3rem;
        @include bp(tablet) {
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 2rem;
            grid-row-gap: 2rem;
        }
        @include bp(mobile) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
