extends blocks/layout
block append vars
    - var footer = true;
    - var header = true;
    - var quickContact = true;

block append head
    title About Me
    meta(name='description', content="Unique model that delivers with unmatched pace and quality")
    // Facebook
    
    meta(property='og:title' content='About Us - Crea, Inc.')
    meta(property='og:description' content="Unique model that delivers with unmatched pace and quality")
    meta(property='og:image' content='assets/img/thumb.jpg')
    // Twitter
    meta(property='twitter:url' content='#')
    meta(property='twitter:title' content='About Us - Crea, Inc.')
    meta(property='twitter:description' content="Unique model that delivers with unmatched pace and quality")
    meta(property='og:image' content='assets/img/thumb.jpg')

block content
    .subpage.about.subpage--center
        .subpage-intro
            .container
                .subpage-hero
                    h1.title.title--center.title--green.title--lg.mb-4 About Me
                    p.text.text--white.text--center.subpage-intro__text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem dolore, laboriosam iure veritatis quo magnam quasi vel omnis consequuntur quis, voluptatum aperiam sunt quibusdam similique enim officia a inventore. Deleniti.
                
        .subpage-content
            .container
                .content.content--white
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos ex maxime adipisci praesentium nemo atque sed ut necessitatibus! Impedit odio eaque et ullam hic quam provident deserunt quasi veniam explicabo!
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos ex maxime adipisci praesentium nemo atque sed ut necessitatibus! Impedit odio eaque et ullam hic quam provident deserunt quasi veniam explicabo!
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos ex maxime adipisci praesentium nemo atque sed ut necessitatibus! Impedit odio eaque et ullam hic quam provident deserunt quasi veniam explicabo!
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos ex maxime adipisci praesentium nemo atque sed ut necessitatibus! Impedit odio eaque et ullam hic quam provident deserunt quasi veniam explicabo!
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos ex maxime adipisci praesentium nemo atque sed ut necessitatibus! Impedit odio eaque et ullam hic quam provident deserunt quasi veniam explicabo!
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos ex maxime adipisci praesentium nemo atque sed ut necessitatibus! Impedit odio eaque et ullam hic quam provident deserunt quasi veniam explicabo!

                                


















