extends blocks/layout
block append vars
    - var footer = true;
    - var header = true;
    - var quickContact = true;
block append head
    title KVKK 

block content
    .subpage.kvkk
        .subpage-intro.subpage-intro--center
            .container
                .subpage-intro-content
                    h5.toptitle.toptitle--green KVKK
                    h1.title.title--xl.subpage__title.title--white Kişisel Verilerin İşlenmesine İlişkin Bilgilendirme
                    p.text.text--xl.text--white.subpage__text.fw-600 İmpladent olarak güvenliğinize önem veriyoruz ve bu kapsamda başta özel hayatın gizliliği olmak üzere kişilerin temel hak ve özgürlüklerini korumak ve kişisel verilerin korunması amacıyla düzenlenen “Kişisel Verilerin Korunması Kanunu” hakkında sizleri bilgilendirmek isteriz. İmpladent olarak, 6698 sayılı Kişisel Verilerin Korunması Kanunu (KVKK) gereğince, ”Veri Sorumlusu” sıfatıyla, kişisel verilerinizi aşağıda açıklandığı çerçevede işleyebilmekteyiz.
        .subpage-content
            .container 
                .content.content--white
                    h2 1. KİŞİSEL VERİLERİN TOPLANMASI, İŞLENMESİ VE İŞLEME AMAÇLARI
                    h3 İmpladent Diş Kliniği, 
                    p Anayasa’nın 20. maddesine ve KVK Kanunu’nun 4. Maddesindeki ilkelere uygun olarak kişisel veri işleme faaliyetinde bulunmaktadır. Klinik, kanunlarda öngörülen veya kişisel veri işleme amacının gerektirdiği süre kadar kişisel verileri muhafaza etmektedir. Sağlık hizmetlerinin belirlenen yasal çerçevede verilebilmesi ve bu kapsamda Kliniğin sözleşmesel ve yasal yükümlülüklerini tam ve gereği gibi yerine getirilebilmesi amacı ile toplanır. Kişisel veriler, verilen sağlık hizmetlerine bağlı olarak değişebilmekle birlikte otomatik ya da otomatik olmayan yöntemlerle, çağrı merkezi, internet sitesi, online hizmetler ve benzeri vasıtalarla sözlü, yazılı ya da elektronik olarak toplanmaktadır. 
                   
                    h3 Kişisel verileriniz;
                    p Adınız, soyadınız, TC Kimlik numaranız, pasaport numaranız veya geçici TC Kimlik numaranız, doğum yeri ve tarihiniz, medeni haliniz, cinsiyetiniz, kliniğimize özgü hasta numaranız ve sizi tanımlayabileceğimiz diğer kimlik verileriniz; adresiniz, telefon numaranız, elektronik posta adresiniz ve sair iletişim verileriniz, ödeme ve faturalama bilgileriniz gibi finansal verileriniz; muhtelif zamanlarda tarafımızca elektronik olan veya olmayan yöntemlerle edinilebilecek sesli ve dijital bilgiler; Kliniğimizi ziyaret etmeniz halinde kamera kayıtları görüntüleriniz; tüm tıbbi teşhis, muayene, tedavi ve bakım hizmetlerinin yürütülmesi sırasında elde edilen kişisel sağlık verisi başta olmak üzere genel ve özel nitelikli kişisel verileriniz; sağlık hizmetlerinin finansmanı ve planlaması amacıyla özel sağlık sigortasına ilişkin verileriniz ve Sosyal Güvenlik Kurumu verileriniz, internet sitemiz üzerinden gönderdiğiniz sağlık ve kimlik verileriniz ödeme ve faturalama bilgileri gibi finansal verileriniz dahil olmak ve bunlarla sınırlı olmamak üzere verileriniz kliniğimiz tarafından işlenecektir.
                   
                    p Ayrıca, İmpladent Diş Kliniği online hizmetlerini kullanmak amacıyla çağrı merkezimizi veya internet sitemizi kullandığınızda, Kliniğimizin düzenlediği eğitim, seminer veya organizasyonlara katıldığınızda veya internet sayfalarını ziyaret etmeniz ya da bu sitelerde gezmeniz halinde de kişisel verileriniz işlenebilecektir.
                    
                    p Kişisel verileriniz, KVK Kanunu’nun 5. ve 6. maddelerinde belirtilen kişisel veri işleme şartlar ve amaçları dahilinde işlenecektir. Sağlık verileriniz başta olmak üzere özel nitelikli kişisel verileriniz ve genel nitelikli kişisel verileriniz, Kliniğimiz tarafından aşağıda belirtilen amaçlarla işlenebilecektir;
                    
                    h3 Özel nitelikli kişisel verilerinizde dahil olmak üzere kişisel verileriniz,
                    
                    ul 
                        li 3359 sayılı Sağlık Hizmetleri Temel Kanunu, 663 sayılı Sağlık Bakanlığı ve Bağlı Kuruluşlarının Teşkilat ve Görevleri Hakkında Kanun Hükmünde Kararname, Özel Hastaneler Yönetmeliği, Kişisel Sağlık Verilerinin İşlenmesi ve Mahremiyetinin Sağlanması Hakkında Yönetmelik ve ilgili diğer düzenlemelerde yer alan hukuki yükümlülüklerimizi yerine getirme;
                        li Kamu sağlığının korunması, koruyucu hekimlik, tıbbî teşhis, tedavi ve bakım hizmetlerinin yürütülmesi,
                        li Kamu sağlığının korunması, koruyucu hekimlik, tıbbî teşhis, tedavi ve bakım hizmetlerinin yürütülmesi,
                        li Randevu almanız halinde randevu hakkında sizi haberdar edebilme;
                        li Kapmanya ve bilgilendirmelerin mesaj ve email kanalı ile yapılması,
                        li Hastanemizin iç işleyişinin planlanması ve yönetilmesi,
                        li Suistimal ve yetkisiz işlemlerin izlenmesi ve engellenmesi;
                        li Risk yönetimi ve kalite geliştirme aktivitelerinin yerine getirilmesi;
                        li Araştırma yapılması;
                        li Hizmetlerimiz karşılığında faturalandırma yapma;
                        li Kimliğinizi doğrulama;
                        li Kliniğimiz ile anlaşmalı olan kurumlarla ilişkinizi teyit etme;
                        li Sağlık hizmetlerinin finansmanı kapsamında özel sigorta şirketler ile talep edilen bilgileri paylaşma;
                        li Sağlık hizmetlerimize ilişkin her türlü soru ve şikâyetinize cevap verebilme;
                        li Kliniğimiz sistem ve uygulamalarının veri güvenliği kapsamında tüm gerekli teknik ve idari tedbirleri alma;
                        li Size sunduğumuz sağlık hizmetlerinin geliştirilmesi ve iyileştirilmesi amacıyla sağlık hizmetleri kullanımınızı analiz etme ve sağlık verilerinizi saklama;
                        li İlgili mevzuat gereği saklanması gereken sağlık verilerinize ilişkin bilgileri muhafaza etme;
                        li Anlaşmalı olduğumuz kurumlarla size sunulan sağlık hizmetlerine ilişkin finansal mutabakat sağlanması;
                        li Hasta memnuniyetinin ölçülmesi dâhil ancak bunlarla sınırlı olmaksızın, benzeri amaçlarla işlenebilecektir.
                     
                    p Ayrıca kişisel verileriniz, 3359 sayılı Sağlık Hizmetleri Temel Kanunu, 663 sayılı Sağlık Bakanlığı ve Bağlı Kuruluşlarının Teşkilat ve Görevleri Hakkında Kanun Hükmünde Kararname, Özel Hastaneler Yönetmeliği, Kişisel Sağlık Verilerinin İşlenmesi ve Mahremiyetinin Korunması Yönetmeliği ve Sağlık Bakanlığı düzenlemeleri ve sair mevzuat hükümleri çerçevesinde işlenebilecek olup İmpladent Diş Kliniği ve/veya tedarikçilerimize ait fiziki arşivler ve bilişim sistemlerine nakledilerek, hem dijital hem de fiziki ortamda muhafaza altında tutulabilecektir.
                     
                    p  Ayrıca, Klinik çalışanlarımızın verileri, İş Kanunu ve Çalışma ve Sosyal Güvenlik Mevzuatı ile yürürlükte olan diğer mevzuatın öngördüğü zorunluluklar kapsamında, çalışan memnuniyetini arttırmak ve iş güvenliği ile iş barışının sağlanması gibi işletmesel nedenler ile işverenin yönetim hakkı gereğince tarafımızdan veya işbirliği yaptığımız veya yetkilendirdiğimiz gerçek veya tüzel kişiler tarafından işlenebilecektir.
                     
                    h2 2. KİŞİSEL VERİLERİNİZİN AKTARILABİLECEĞİ KİŞİ VE KURULUŞLAR
                     
                    h3 Kişisel verileriniz, Kanun ve benzeri mevzuat kapsamında ve yukarıda yer verilen amaçlarla:
                     
                    ul  
                        li Sosyal Güvenlik Kurumu,
                        li Sağlık Bakanlığı ve bağlı alt birimleri, Aile Hekimliği Merkezleri
                        li Özel sigorta şirketleri (sağlık, emeklilik ve hayat sigortası ve benzeri)
                        li Emniyet Genel Müdürlüğü ve benzeri kolluk kuvvetleri,
                        li Nüfus Genel Müdürlüğü,
                        li Türkiye Eczacılar Birliği,
                        li Türk Dişhekimleri Odası,
                        li Mahkemeler,
                        li Tıbbi teşhis için iş birliği içerisinde olduğumuz laboratuvar, merkez ve benzeri üçüncü kişiler,
                        li Yetki vermiş olduğunuz temsilcileriniz,
                        li Hastanın sevk edildiği veya hastanın kendisinin başvurduğu sağlık kuruluşu,
                        li Avukatlar, vergi danışmanları ve denetimciler de dâhil olmak üzere danışmanlık aldığımız üçüncü kişiler,
                        li Düzenleyici ve denetleyici kurumlar, resmi merciler
                        li Hizmetlerinden faydalandığımız veya işbirliği içerisinde olduğumuz tedarikçilerimiz, destek hizmet sağlayıcılarımız ve iş ortaklarımız ve diğer üçüncü kişiler ile KVKK’nun 8. ve 9. maddelerinde belirtilen kişisel veri işleme şartları ve amaçları çerçevesinde aktarılabilecektir.
                     
                    h2 3. KİŞİSEL VERİ TOPLAMANIN YÖNTEMİ VE HUKUKİ SEBEBİ   
                     
                    p Kişisel verileriniz, her türlü sözlü, yazılı ya da elektronik ortamda, yukarıda yer verilen amaçlar ve sağlık hizmetlerinin belirlenen yasal çerçevede verilebilmesi ve bu kapsamda İmpladent Diş Kliniği’nin sözleşmesel ve yasal yükümlülüklerini tam ve gereği gibi yerine getirilebilmesi amacı ile toplanır.        
                     
                    h2 4. KİŞİSEL VERİLERİN KORUNMASINA YÖNELİK HAKLARINIZ
                     
                    h3 İşlenen kişisel verilerinizle ilgili olarak, mevzuat uyarınca;
                     
                    ul 
                        li Kişisel veri işlenip işlenmediğini öğrenme, kişisel veriler işlenmişse buna ilişkin bilgi talep etme,
                        li Kişisel sağlık verilerine erişim ve bu verileri isteme, kişisel verilerin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme,
                        li Yurt içinde veya yurt dışında kişisel verilerin aktarıldığı üçüncü kişileri bilme,
                        li Kişisel verilerin eksik veya yanlış işlenmiş olması halinde bunların düzeltilmesini isteme, kişisel verilerin silinmesini veya yok edilmesini isteme,
                        li Kişisel verilerin eksik veya yanlış işlenmiş olması halinde bunların düzeltilmesine ve/veya kişisel verilerin silinmesini veya yok edilmesine ilişkin işlemlerin kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme,
                        li İşlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle kişinin kendisi aleyhine bir sonucun ortaya çıkmasına itiraz etme,
                        li Kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması hâlinde zararın giderilmesini talep etme haklarına sahipsiniz.
                     
                    .highligt-text
                        p İmpladent Diş Kliniği, kişisel verilerinizi teknik ve idari imkanlarımız dahilinde titizlikle korumaktadır. Kliniğimiz tarafından alınan güvenlik tedbirleri, teknolojik imkanlar da göz önünde bulundurularak olası risklere uygun bir düzeyde sağlanmaktadır. Kanun kapsamındaki taleplerinizi, “www.impladent.com.tr” web adresindeki “Kişisel Verilerin Korunması Kanunu Uyarınca Başvuru Formu” doldurarak ; Feyzullah mah. Mimarsinan cad. No:8 a-b-c Maltepe – İstanbul, Türkiye adresine bizzat teslim edebilir, noter kanalıyla gönderebilir veya impladent@impladent.com.tr adresine güvenli elektronik imzalı olarak iletebilirsiniz.
                     
                    h2 BİLGİ GÜVENLİĞİ YÖNETİM SİSTEMİ POLİTİKASI
                                   
                    ul 
                        li Bilgi güvenliliğiyle ilgili karşılaşılabilecek tehditlere karşı sistemimizin güvenliğini güvence altına alabilmek ve sistemin sürekliliğini sağlamak amacıyla ISO 27001 standardına uyumlu bir Bilgi Güvenliği Yönetim Sistemini kurarak işletmeyi,
                        li Sunduğumuz ürünler ve hizmetler ile ilgili olarak, sahip olduğumuz tüm bilgi varlıklarının ve ilgili taraflarımıza ait tüm bilgilerin, kişisel verilerin gizlilik, bütünlük ve erişilebilirliğini sağlamayı,
                        li Bilgi varlıklarına yönelik riskleri yönetmeyi,
                        li Ulusal ve uluslararası yasal şartlar ile standart şartlarını karşılamayı,
                        li Çalışanlarımızın bilgi güvenliği ile ilgili farkındalıklarını arttırmayı,
                        li Bilgi güvenliği farkındalığını artırmak amacıyla teknik ve sosyal yetkinlikleri geliştirecek etkinlikler gerçekleştirmeyi,
                        li Bilgi güvenliği yönetim sistemini sürekli iyileştirmeyi ve geliştirmeyi taahhüt ediyoruz.




















