extends blocks/layout
block append vars
    - var footer = true;
    - var header = true;
    - var quickContact = true;

block append head
    title My Works
    meta(name='description', content="Unique model that delivers with unmatched pace and quality")
    // Facebook
    
    meta(property='og:title' content='About Us - Crea, Inc.')
    meta(property='og:description' content="Unique model that delivers with unmatched pace and quality")
    meta(property='og:image' content='assets/img/thumb.jpg')
    // Twitter
    meta(property='twitter:url' content='#')
    meta(property='twitter:title' content='About Us - Crea, Inc.')
    meta(property='twitter:description' content="Unique model that delivers with unmatched pace and quality")
    meta(property='og:image' content='assets/img/thumb.jpg')

block content
    .subpage.works.subpage--center
        .subpage-intro
            .container
                .subpage-hero
                    h1.title.title--center.title--green.title--lg.mb-4 My Works
                    p.text.text--white.text--center.subpage-intro__text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem dolore, laboriosam iure veritatis quo magnam quasi vel omnis consequuntur quis, voluptatum aperiam sunt quibusdam similique enim officia a inventore. Deleniti.
                
        .subpage-content
            .container
                .works-grid 
                    a(href="#").job-item.job-item--big 
                        .job-item-img
                            img(src="assets/img/crea-logo.svg")
                        .job-item-content 
                            .link.link--i-right.link--black
                                span.link__text Visit 
                                span.link__icon.icon-font
                                    svg.icon.icon-font
                                        use(xlink:href='assets/icons/icons.svg#icon-right')
                    a(href="#").job-item.job-item--big  
                        .job-item-img
                            img(src="assets/img/impladent-logo.svg")
                        .job-item-content 
                            .link.link--i-right.link--black
                                span.link__text Visit 
                                span.link__icon.icon-font
                                    svg.icon.icon-font
                                        use(xlink:href='assets/icons/icons.svg#icon-right')
                    a(href="#").job-item.job-item--big  
                        .job-item-img
                            img(src="assets/img/mabturkey-logo.svg")
                        .job-item-content 
                            .link.link--i-right.link--black
                                span.link__text Visit 
                                span.link__icon.icon-font
                                    svg.icon.icon-font
                                        use(xlink:href='assets/icons/icons.svg#icon-right')
                    a(href="#").job-item.job-item--big  
                        .job-item-img
                            img(src="assets/img/tss-logo.svg")
                        .job-item-content 
                            .link.link--i-right.link--black
                                span.link__text Visit 
                                span.link__icon.icon-font
                                    svg.icon.icon-font
                                        use(xlink:href='assets/icons/icons.svg#icon-right')
                    a(href="#").job-item.job-item--big  
                        .job-item-img
                            img(src="assets/img/trifles-logo.svg")
                        .job-item-content 
                            .link.link--i-right.link--black
                                span.link__text Visit 
                                span.link__icon.icon-font
                                    svg.icon.icon-font
                                        use(xlink:href='assets/icons/icons.svg#icon-right')
                    a(href="#").job-item.job-item--big  
                        .job-item-img
                            img(src="assets/img/tekclinic-logo.png")
                        .job-item-content 
                            .link.link--i-right.link--black
                                span.link__text Visit 
                                span.link__icon.icon-font
                                    svg.icon.icon-font
                                        use(xlink:href='assets/icons/icons.svg#icon-right')
                    a(href="#").job-item.job-item--big  
                        .job-item-img
                            img(src="assets/img/utit-logo.svg")
                        .job-item-content 
                            .link.link--i-right.link--black
                                span.link__text Visit 
                                span.link__icon.icon-font
                                    svg.icon.icon-font
                                        use(xlink:href='assets/icons/icons.svg#icon-right')


                                


















