/* Colors */
$c-bg: #19262f;

$c-blue: #278EFF;


$c-white: #ffffff;
$c-light: #E1E7FB;
$c-black: #030303;
$c-dark-black : #1c2c35;
$c-gray: #9f9f9f;
$c-dark-gray: #6A7190;
$c-light-gray: #0303031A;
$c-red: #EF4C4C;
$c-purple: #bd8fbd;
$c-green: #9bedad;
$c-green-light: #45CB8826;
$c-dark-blue: #007AFF;
$c-light-blue: #DEEEFF;





$c-text: #4D4D4D;
$c-text-light: rgba($c-black,.75);
$c-border: rgba(#354261, .1);
$c-border-white: rgba(#fff, .4);













$c-first: $c-blue;
$c-title: #1F263A;
$c-divider: rgba($c-black, .1);
$c-divider-dark: rgba($c-black, .2);
$c-divider-light: rgba($c-black, .05);
$c-text--full: red;
$c-yellow: yellow;
$c-orange-dark: #FFA95D;
$c-second: $c-black;
$c-dark-bg: red;
$c-navy-blue: red;
$c-navy-blue2: red;


$c-button-light: #f7f8fa;
$c-button-light--focus: #c5cdd6;
$c-shadow: rgba(#32325D, .1);
$c-fb-blue: #5D82C7;


$c-breadcrumb-icon: #343230;
$c-default-page-title: #CA5757;


/* Font Families*/
$font-family-base: 'Gilmer', sans-serif;
$font-family-second: 'Barlow', sans-serif;
/* Box Shadows */
$button-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08), 0px 4px 4px rgba(50, 50, 93, 0.11);
$button-shadow--hover: 0px 7px 14px rgba(50, 50, 93, 0.1), 0px 3px 6px rgba(0, 0, 0, 0.08);
$box-shadow: 0px 0px 20px #20428907;
$box-shadow-card: 0px 40px 50px -20px rgba(3,43,92,0.1);

/* Button */

/* Normal Padding */

$transition: .3s cubic-bezier(.29, .13, .27, .74);
$transition-normal: .25s ease-in-out;
$transition-fast: .2s cubic-bezier(.29, .13, .27, .74);
$transition-slow: .6s cubic-bezier(.21,1.09,1,.99);
:root {
  --font-size-title--xxxl: 9.2rem;
  --font-size-title--xxl: 8.2rem;
  --font-size-title--xl: 5.6rem;
  --font-size-title--lg: 4.4rem;
  --font-size-title--md: 4rem;
  --font-size-title--sm: 2.4rem;
  --font-size-title--xsm: 2.2rem;
  --font-size-title--xs: 2rem;
  --font-size-title--xxs: 1.8rem;
  --font-size-title--xxxs: 1.5rem;


  --font-size-toptitle: 2rem;




  --font-size-text: 1.8rem;
  --header-height: 11rem;
  --container-gutter: 16px;
  --container-pusher: calc((100vw - var(--container-width)) / 2);

  --container-width: 128rem;
  

 


  @include bp(tablet) {
    

  }
  @include bp(mobile) {
    
    --font-size-title--xl: 3rem;


    --font-size-title--md: 2.5rem;

    --font-size-title--lg: 3rem;
  }
}


